<%= form_for @businesscard, html: { multipart: true } do |f| %>
<div>
    <%= f.file_field :image %>
</div>
<div class="content">
<div>
  <h3><%= f.label :name %></h3>
  <%= f.text_field :name %>
</div>
<div>
  <h4><%= f.label :email %></h4>
  <%= f.text_field :email %>
</div>
<div>
  <h4><%= f.label :phone %></h4>
  <%= f.text_field :phone %>
</div>
<div>
  <h4><%= f.label :title %></h4>
  <%= f.text_field :title %>
</div>
<div>
  <h4><%= f.label :user_id %></h4>
  <%= f.text_field :user_id %>
</div>
<div>
<h4><%= f.submit "Create Card" %></h4>
</div>
</div>
<% end %>



