<%= form_for @businesscard, html: { multipart: true } do |f| %>
<div>
  <%= f.label :image %>
  <%= f.file_field :image %>

</div>
<div>
  <%= f.label :name %>
  <%= f.text_field :name %>
</div>
<div>
  <%= f.label :email %>
  <%= f.text_field :email %>
</div>
<div>
  <%= f.label :phone %>
  <%= f.text_field :phone %>
</div>
<div>
  <%= f.label :title %>
  <%= f.text_field :title %>
</div>
<div>
  <%= f.label :user_id %>
  <%= f.text_field :user_id %>
</div>
<div>
  <%= f.submit %>
</div>
<% end %>
<p><%= link_to "Back to home page", businesscards_path %></p>


