<div class="card">
<h1>Your BusinessCards</h1>
<% @businesscards.where(user_id: current_user.id).each do |businesscard| %>
  <div>
    <h3>Name: <%= businesscard.name %></h3>
    <h4>Title: <%= businesscard.title %></h4>
    <h4>Phone: <%= businesscard.phone %></h4>
    <h4>Email: <%= businesscard.email %></h4>
    <h4>User_id: <%= businesscard.user_id %></h4>
    <img src="<%= businesscard.image %>" alt="">
  </div>
<%= link_to "Update", edit_businesscard_path(businesscard) %>
<%= link_to "Delete", businesscard_path(businesscard),method: :delete,
data: {confirm: 'are you sure'} %>
<% end %>
</div>


