<h1>
   <%= image_tag @businesscard.image.url(:medium) %>

    <span>Name: <%=@businesscard.name %></span>
      <br>
      <span>Email: <%=@businesscard.email %></span>
        <br>
        <span>Phone: <%=@businesscard.phone %></span>
        <br>
        <span>Title: <%=@businesscard.title%></span>

<h3 class="businesscard"><%= link_to businesscard.name,businesscard_path(businesscard)%></h3>
</h1>

