<!DOCTYPE html>
<html>
<head>
  <title>Shop</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-inverse navbar-top navbar-fixed-top">
      <div class="container">
      <a class="navbar-brand" href="/">Home</a>
      <% if user_signed_in? %>
        <%= link_to "Edit profile", edit_user_registration_path %>
      <% else %>
        <%= link_to "Sign up", new_user_registration_path %>
        <%= link_to "Login", new_user_session_path %>
      <% end %>
      <% if user_signed_in? %>
        <%= link_to "Logout", destroy_user_session_path, method: :delete %>
      <% end %>
      </div>
  </nav>
  <div id="main-container" class="container">
    <%= yield %>
  </div>
</body>
</html>
