<!DOCTYPE html>
<html>
<head>
  <title>Shop</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!-- <nav class="navbar navbar-inverse navbar-top navbar-fixed-top"> -->
    <nav>
    <% if !current_user.nil? %>
    <div id="status">
    <p align="center">Signed in as <%= link_to current_user.email, edit_user_registration_path %></p>
    </div>
    <% else %>
    <p></p>
    <% end %>
    </nav>
    <div class="container">
    <div class="jumbotron text-center">
    <h1>BusinessCard App</h1>
      <a class="btn btn-primary btn-sm" href="/" role="button">Home</a>
      <% if user_signed_in? %>
        <%= link_to "Add Card", new_businesscard_url, :class=> "btn btn-primary btn-md" %>
        <%= link_to "Edit profile", edit_user_registration_path, :class=> "btn btn-primary btn-md" %>
       <% else %>
        <%= link_to "Sign up", new_user_registration_path, :class=> "btn btn-primary btn-md" %>
        <%= link_to "Login", new_user_session_path,:class=> "btn btn-primary btn-md" %>
      <% end %>
      <% if user_signed_in? %>
        <%= link_to "Logout", destroy_user_session_path, method: :delete,:class=> "btn btn-primary btn-md" %>
      <% end %>
      </div>
    </div>
  <!-- </nav> -->
  <!-- <div class="container"> -->
  <div class="line">
   <% if current_user.nil? %>
     <h2>Keep track of all the people you meet and your business cards. </h2>
     <h2>Have access to them where ever you go.</h2>
    <% end %>
  </div>
      <!-- </div> -->
  <div id="main-container" class="container">
    <%= yield %>
  </div>


    <div class="col-lg-4 col-lg-offset-2 text-center">
              <i class="glyphicon glyphicon-earphone"></i>
              <i class="fa fa-phone fa-3x sr-contact"></i>
              <p>631-746-5735</p>
          </div>
          <div class="col-lg-4 text-center">
              <i class="glyphicon glyphicon-envelope"></i>
              <i class="fa fa-envelope-o fa-3x sr-contact"></i>
              <p><a href="mailto:your-email@your-domain.com">mdakhan.com</a></p>
          </div>
</body>
</html>
